.cw-title,
.cw-author {
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cw-title {
    font-weight: bold;
}
.cw-header-separator {
    flex: 0 0 auto;
}
.cw-author {
    margin-right: 0.5em;
}

.cw-content {
  background: var(--content-bg-gradient, var(--content-bg-color));
  display: flex;
  flex: 1 1 auto;
  min-height: 1px;
  position: relative;
  justify-content: center;
}

.cw-grid {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  min-width: 300px;
  position: relative;
  margin-top: 10px;
}

#cw-puzzle-grid {
  display: inline-block;
  width: auto;
  margin-top: 70px; /* Increase to make the gap between clue box and puzzle larger */
  align-self: center;
  border-radius: 4px;
}

#cw-puzzle-grid text {
  pointer-events: none;
}

.cw-canvas {
  display: inline-block;
  flex: 1 1 auto;
  min-height: 300px;
  position: relative;
  /* text-align: center; */
  margin-bottom: 24px;
}

.cw-clues-holder {
  color: white;
  display: flex;
  flex-shrink: 0;
  margin-top: 10px;
  max-height: 594px;
  margin-bottom: 25px;
  border-radius: 4px;
  padding-bottom: 10px;
}

.cw-clues-bottom {
  margin-right: 3px;
}

/**
* Clues
**/
.cw-clues-items {
  font-size: 1em;
}

/* Custom scrollbar styling */
/* Chrome, Edge, Safari */
.cw-clues-items::-webkit-scrollbar {
  width: 5px;
}

.cw-clues-items::-webkit-scrollbar-track {
  border-radius: 50px;
}

.cw-clues-items::-webkit-scrollbar-thumb {
  background-color: var(--clue-scrollbar-color-thumb);
  border-radius: 50px;
  transition: scrollbar-color 0.3s ease-out;
}

.cw-clues-items::-webkit-scrollbar-thumb:hover {
  background-color: var(--clue-scrollbar-color-thumb)
}

/* End custom scrollbar styling */
.cw-clue {
  padding: 6px 0px;
  margin-right: 3px;
}

/**
* Utilities
**/
.cw-flex-spacer {
  flex-grow: 1;
}

/**
* Size-dependent styles
* NOTE: We don't use media queries here because we need to base the responsive
* behavior on the width of the root element, not the width of the overall
* window.
**/
.cw-clue-width-standard {
  width: 250px;
}

.cw-clue-width-large {
  width: 400px;
}

.cw-puzzle-container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.cw-top-text {
  align-items: flex-start;
  display: flex;
  text-align: left;
  line-height: 1.2;
}